node_modules
dist
build
test-results
public
**/templates
jest.cjs.setup.js
jest.esm.setup.js

# This directory contains input and output test fixtures, which contain generated code. We dont expect it to be well formatted.
**/one-app-index-loader/*
