# node & npm
node_modules
npm-debug.log
packages/*/*.tgz
packages/*/package-lock.json
package-lock.json

#lerna
lerna-debug.log

# test
test-results
.jest-cache
bundle.integrity.manifest.json

# intelliJ
.idea/

# yarn
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

