name: Health Check

on:
  schedule:
    # At minute 0 past hour 0800 and 2000.
    - cron:  '0 8,20 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '18.x' ]
    name: Node ${{ matrix.node }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - run: |
        git remote set-branches --add origin main
        git fetch
    - name: Node Install
      with:
        node-version: ${{ matrix.node }}
      uses: actions/setup-node@v1
    - name: Installing Packages
      env:
        NODE_ENV: development
      run: yarn install --frozen-lockfile
    - name: Testing Packages
      run: yarn test
